.percentage-list{
   
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    color: #6ED940;
 }

 .target{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
 }
 
 svg{
    width: 100px;
    height: 100px;
 }

 .btn-active{
    background-color: #309F00; color: white; width: 100%; 
 }
 .btn-non-active{
   background-color: white; color:#6ED940 ; width: 200px; border: #6ED940 2px solid; 
 }

 .little-space{
     margin-bottom: 10px;
 }
 .promo-box-on-progress{
    margin-bottom: 10px;  background:#CCEDBE;

 }


 .promo-box-complete{
    margin-bottom: 10px;  background:white;
 }

 ::ng-deep .mat-progress-bar-fill::after {
   background-color: #309F00;;
}

::ng-deep .mat-progress-bar-buffer {
   background: #6ED940;
}