<div class="jflex-column container" style="height: 100%;">
    <div class="row flex" style="justify-content: center;align-items: center;">
        <div class="col-xl-8">
            <div class="flex" style="padding-top:20px; justify-content: space-between;">
                <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon (click)="backClicked()">chevron_left</mat-icon>
                </a>
                <h1 style="text-align: center;" class="headFont pl-5"><strong>Detail Objective</strong></h1>
                <img src="assets/icon/well-me-logo-small.png" style="padding-right: 10px;" width="107" height="33">
            </div>
            <div *ngIf="!isNotFound && !isLoading" class="padding-beauty" style="height: 90%; overflow: auto;">
                <mat-card class="box-outline padding-beauty little-space" [ngClass]="promoStatus">     
                    <div class="jflex-column stretch">
                        <div class=" jflex-row stretch" style="align-items: flex-end; margin-bottom: 20px;">
                            <img src="assets/img/img_promo_objectives.png" style="width: 170px; height: auto;">
                            <div *ngIf="this.isComplete" class="font-green jflex-row center-cross-axis"><mat-icon>check_circle_outline</mat-icon><strong>Completed!</strong></div>
                            <div *ngIf="this.isProgress" class="font-18 jflex-row center-cross-axis"><strong>On Progress</strong></div>
                            <div *ngIf="this.isNotStart" class="font-18 jflex-row center-cross-axis"><strong>Available</strong></div>
                        </div>
                        <span><h1 class="font-green" style="max-width: 300px;"><strong>{{objective.title}}</strong></h1></span>
                        <div class="jflex-row stretch">
                            <div class="jflex-column">
                                <span class="jflex-row center-cross-axis"><mat-icon style="font-size:15pt;color: #6ED940;">access_time</mat-icon> Available Until: {{objective.date_available | date : 'dd MMM YY'}}</span>
                                <p style="max-width: 300px;">{{objective.subtitle}}</p>        
                            </div>
                            <div *ngIf="this.isProgress || this.isNotStart">
                                <img src="assets/img/icon-promo-detail.png" class="img-fluid">
                            </div>
                            <div *ngIf="this.isComplete">
                                <img src="assets/img/icon-objective.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </mat-card>
                <p>{{objective.description}}</p>
                <div class="row " style="justify-content: space-around;">
                    <div class="col-xl-4 my-4" >
                        <div class="text-center" style="padding:10px; border: #6ED940 1px solid; border-radius: 10%;">
                            <mat-icon style="color: #6ED940;">card_giftcard</mat-icon>
                            <div>Reward</div>
                            <div><strong>{{objective.cashback | currency : 'Rp'|IDR}}</strong></div>
                        </div>
                    </div>
                    <div class="col-xl-4 my-4" >
                        <div class="text-center" style="padding:10px; border: #6ED940 1px solid; border-radius: 10%;">
                            <mat-icon style="color: #6ED940;">check_box</mat-icon>
                            <div>Task</div>
                            <div><strong>{{objective.target_akumulasi | currency : 'Rp'|IDR}}</strong></div>
                        </div>
                    </div>
                    <div class="col-xl-4 my-4" >
                        <div class="text-center" style="padding:10px; border: #6ED940 1px solid; border-radius: 10%;">
                            <mat-icon style="color: #6ED940;">access_time</mat-icon>
                            <div>Deadline</div>
                            <div><strong> {{objective.date_available | date : 'dd MMM YY'}}</strong></div>
                        </div>
                    </div>
                   
                </div>
        
                <div *ngIf="!this.isNotStart" class="row">
                    <div class="col-xl-12">
                        <mat-progress-bar
                            color="#6ED940"
                            mode="determinate"
                            style="height: 50px;"
                            [value]="this.currentProgress">
                        </mat-progress-bar>
                        <div class="text-center font-18" style="position:relative; top: -35px; color: white;">
                            <b>{{objective.current_amount}}/{{objective.target_akumulasi}}</b>
                        </div>
                    </div>        
                </div> 
                <div class="jflex-row center-main-axis">
                    <button *ngIf="!this.isNotStart" mat-raised-button class="btn-active" [disabled]="this.isProgress" (click)="claimPrize()">Klaim Hadiah</button>
                    <button *ngIf="this.isNotStart" mat-raised-button class="btn-active" (click)="startPromo()">Mulai Objective!</button>
                </div>
                
            </div>
            <div *ngIf="isNotFound && !isLoading" class="text-center">
                <img src="assets/img/promo-nothing.png">
                <h2 class="font-green" style="text-align: center;"><strong>Tidak ada item yang bisa dicari :(</strong></h2>
                <p class="font-green" style="text-align: center;"> Ayo selesaikan objectives dan dapatkan berbagai macam Promo Menarik</p>     
            </div> 
        </div>
    </div>
    
</div>