<div class="jflex-column container" style="height: 100%;">
    <div class="row flex" style="justify-content: center;align-items: center;">
        <div class="col-xl-8">
            <div class="flex" style="padding-top:20px; justify-content: space-between;">
                <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon (click)="backClicked()">chevron_left</mat-icon>
                </a>
                <h1 style="text-align: center;" class="headFont pl-5"><strong>Objectives Overview</strong></h1>
                <img src="assets/icon/well-me-logo-small.png" style="padding-right: 10px;" width="107" height="33">
            </div>
            <div *ngIf="!isNotFound && !isLoading" class="padding-beauty" style="height: 90%; overflow: auto;">
                <mat-card class="box-outline padding-beauty little-space" [ngClass]="promoStatus">
                    
                    <div class="jflex-column stretch">
                        <div class="font-green jflex-row stretch" style="align-items: flex-end; margin-bottom: 20px;">
                            <img src="assets/img/img_promo_objectives.png" style="width: 170px; height: auto;">
                            <div class="font-green jflex-row center-cross-axis"><mat-icon>check_circle_outline</mat-icon><strong>Completed!</strong></div>
                        </div>
                        <span><h1 class="font-green" style="max-width: 300px;"><strong>Beli Reksadana Dapet Cashback</strong></h1></span>
                        <div class="jflex-row stretch">
                            <div class="jflex-column">
                                <span class="jflex-row center-cross-axis"><mat-icon style="font-size:15pt;color: #6ED940;">access_time</mat-icon> Available Until: 20 December 2021</span>
                                <p style="max-width: 300px;">Beli Reksadana Obligasi Minimal Rp500,000 dan Dapatkan Cashback Rp100,000</p>        
                            </div>
                            <div>
                                <img src="assets/img/icon-promo-detail.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </mat-card>
                <p>{{objective.description}}</p>
                <div class="jflex-row center-main-axis center-cross-axis little-space" style="justify-content: space-around;">
                    <div class="jflex-column center-cross-axis stretch" style="padding:10px; width: 100px; height: 100px; border: #6ED940 1px solid; border-radius: 10%;">
                        <mat-icon style="color: #6ED940;">card_giftcard</mat-icon>
                        <span>Reward</span>
                        <span><strong>Rp50,000</strong></span>
        
                    </div>
                    <div class="jflex-column center-cross-axis stretch" style="padding:10px; width: 100px; height: 100px; border: #6ED940 1px solid; border-radius: 10%;">
                        <mat-icon style="color: #6ED940;">check_box</mat-icon>
                        <span>Task</span>
                        <span><strong>Rp500,000</strong></span>
        
                    </div>
                    <div class="jflex-column center-cross-axis stretch" style="padding:10px; width: 100px; height: 100px; border: #6ED940 1px solid; border-radius: 10%;">
                        <mat-icon style="color: #6ED940;">access_time</mat-icon>
                        <span>Deadline</span>
                        <span><strong>24 Dec 20</strong></span>
        
                    </div>
                   
                </div>
        
                <div class="jflex-column little-space center-cross-axis center-main-axis">
                    <p style="width: 100%;"><ngb-progressbar style="background-color:#6ED940" type="success" [height]="'50px'"  textType="white" [value]="25"><strong>2,000,000/25,000,000</strong></ngb-progressbar></p>
                </div> 
                <div class="jflex-row center-main-axis">
                    <button mat-raised-button class="btn-active" disabled>Klaim Hadiah</button>
                </div>
                
            </div>
        </div>
       
    </div>
    
</div>