<!-- <div class="row flex mx-0">
    <img class="full-image" src="{{this.imageBackgroundArray[page]}}">
    <div class="button-fill" [ngClass]="'dialog-middle-'+page">
        <div *ngIf="page==0" class="component-middle-small p-4">
            <div>
                Selamat datang
                di Backward Projection!

                Untuk memulai tur singkat 
                penggunaan fitur simulasi, 
                tekan tombol lanjut
            </div>
            <div class="mt-2">
                <button mat-button class="lanjut-button" (click)="clickNextButton()" >Pilih</button>
            </div>
        </div>
        <div *ngIf="page>0" class="component-middle-medium">
            <ngb-carousel #ngcarousel (slide)="slideActivate($event)" [activeId]="'one'" [interval]="0" style="height: 100%;">
                <ng-template ngbSlide *ngFor="let image of imageBackgroundArray; let i = index" id="{{i}}">
                  <div class="mx-auto my-auto font-18" style="padding:3em; height: 100%; width: 100%;">
                        {{textTutorial[i]}}
                  </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div> -->

<div>
    <div>
        <ngb-carousel #ngcarousel (slide)="slideActivate($event)" [activeId]="'0'" [interval]="0" style="min-height: 400px; min-width: 600px;">
            <ng-template ngbSlide *ngFor="let image of imageBackgroundArray; let i = index" id="{{i}}">
                <div *ngIf="this.showFirstPage" class="button-fill component-middle-small p-4">
                    <div>
                        Selamat datang
                        di Backward Projection!
                        Untuk memulai tur singkat 
                        penggunaan fitur simulasi, 
                        tekan tombol lanjut
                    </div>
                    <div class="mt-4 flex" style="justify-content: space-between;">
                        <button mat-button class="exit-button" (click)="clickNextButton()" >Lanjut</button>
                        <button mat-button class="exit-button text-wellme-color" (click)="clickExitButton()" >Keluar</button>
                    </div>
                </div>
                <div class="close-button">
                    <mat-icon class="clickable" style="color:white;font-size: 3em;">close</mat-icon>
                </div>
               <div class="font-18 bg-wellme full-image">
                    <img class="img-fluid full-image" style="min-height: 400px; min-width: 600px;"  src="{{image}}">
              </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>