<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 90%; text-align: center;;" class="headFont">Macbook Baru</h1>
    </div>
    <div class="jflex-column padding-beauty  center-cross-axis ">

        <mat-card class="box-outline litle-space" style="width: 100%;">
           <div class="jflex-row stretch">
               <div class="jflex-column">
                    <div>Target Tabungan</div>
                    <h1 class="font-green">25,000,000</h1>
                    <div>Deadline: December,2021</div>
               </div>
               <div class="jflex-column center-main-axis center-cross-axis">
                   <a mat-icon-button>
                    <mat-icon>delete</mat-icon>
                   </a>
               </div>
           </div>
        </mat-card>
    <div class="jflex-column little-space">
        <div class="jflex-row">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_1.png">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_2.png">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_3.png">
        </div>
        <div class="jflex-row">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_4.png">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_5.png">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_6.png">
        </div>
        <div class="jflex-row">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_7.png">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_8.png">
            <img style="width: 100px; height: 100px;" src="assets/img/laptop_9.png">
        </div>
 
        
    </div>
     
    </div>
    <div class="jflex-column little-space center-cross-axis center-main-axis">
        <p style="width: 500px;"><ngb-progressbar style="background-color:#6ED940" type="success" [height]="'50px'"  textType="white" [value]="25" [showValue]="true"></ngb-progressbar></p>    
        <h1><strong>2,000,000/25,000,000</strong></h1>
    </div> 
    
    
    
    <div class=" jflex-column padding-beauty center-cross-axis">
        <a mat-button  class="litle-space box-outline" style="background-color: white; color: #6ED940; border: 2px solid #6ED940; width: 80%; ">Jual Reksadana</a>
        <a href="financial-planner/beli-reksadana" mat-raised-button style="background-color: #6ED940; color: white; width: 80%; ">Beli Reksadana</a>
    </div>
</div>