<div class="jflex-column padding-beauty" style="width:100%">
    <div class="jflex-row center-main-axis center-cross-axis little-space" style="height: 80%; margin-bottom: 15px;">
        <img src="/assets/img/trash.png">
    </div>
    <div class="row center-main-axis">
        <h3 style="margin-top: 10px; margin-bottom: 10px;"><b>Target Berhasil Dihapus</b></h3>
    </div>
    <div class="row center-main-axis">
        
        <button (click)="onCloseDialog()" mat-button class="button-fill" style="width: 80%;">Kembali Ke Menu Portfolio</button>
    </div>
    
</div>