<div class="jflex-column container" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a (click)="goBack()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 90%; text-align: center;;" class="headFont">Portofolio Baru</h1>
    </div>
    <div class="jflex-column padding-beauty  center-cross-axis " style="height:90%;">
        <!-- <h1 style="font-weight: 300;">Iphone 12 Pro Baru</h1> -->
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div class=" jflex-row stretch">
                <div><strong>Profil Resiko</strong></div>
                <div >{{plannerResiko.tipe_resiko}}</div>
            </div>
        </mat-card>
        
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div class=" jflex-row stretch litle-space">
                <div><strong>Profil Resiko</strong></div>
                <div><strong>Alokasi</strong></div>
            </div>
            <div class=" jflex-row stretch litle-space" *ngFor="let resiko of plannerResiko.detail_resiko">
                <div class="font-green">{{resiko.nama_plan}}</div>
                <div class="font-green"><strong>{{resiko.percentage}} %</strong></div>
            </div>
            

        </mat-card>
    </div>
    
    
    
    
    <div class="background-green jflex-row padding-beauty center-main-axis">
        <a (click)="insertPlanner()" mat-raised-button style="background-color: #6ED940; color: white; width: 80%; ">Simpan</a>
    </div>
</div>