<div class="jflex-column container" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;" *ngIf="!loader">
        <a (click)="goBack()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 90%; text-align: center;;" class="headFont"><b>Portofolio Baru</b></h1>
    </div>
    <div class="jflex-row center-cross-axis row" style="padding-top:20px;" *ngIf="loader==true">
        <div *ngIf="loader==true"><ngx-shimmer-loading [shape]="'circle'" [width]="'50px'" [height]="'50px'" ></ngx-shimmer-loading></div>
        <div *ngIf="loader==true" style="flex-basis: 90%;" class="jflex-row center-main-axis"><ngx-shimmer-loading [shape]="'rect'" [width]="'200px'" [height]="'32px'" ></ngx-shimmer-loading></div>
    </div>
    <div style="width: 100%">
        <canvas id="line" #line></canvas><br>
    </div>

    <div class="jflex-row center-main-axis center-cross-axis" style="flex-basis: 90%;" *ngIf="loader">
        <mat-spinner [diameter]="40" class="mat-spinner-color"></mat-spinner>
    </div>
    <div class="jflex-column padding-beauty  center-cross-axis " style="height:90%;">
        
        <mat-card class="box-outline litle-space" style="width: 100%;" *ngIf="!loader">
            <div class="jflex-column">
                <div class="jflex-column">
                    <div><strong>Nama Portofolio</strong></div>
                    <h2 class="font-green">{{plannerRequest.nama_plan}}</h2>
                </div>
                
                <div class="jflex-column">
                    <div><strong>Total Target</strong></div>
                    <h2 class="font-green">{{plannerRequest.goal_amount | currency:'Rp '|IDR}}</h2>
                </div>
                
                <div class="jflex-column">
                    <div><strong>Tanggal Target Tujuan</strong></div>
                    <h2 class="font-green">{{plannerRequest.due_date}}</h2>
                </div>
                
                <div class="jflex-column">
                    <div><strong>Total Tabungan/Bulan</strong></div>
                    <h2 class="font-green">{{nominalYangHarusDitabung | currency:'Rp '|IDR}}</h2>
                </div>
            </div>
        </mat-card>
        <mat-card class="box-outline litle-space" style="width: 100%;" *ngIf="loader">
            <div class="jflex-column">
                <div class="jflex-column">
                    <ngx-shimmer-loading [shape]="'rect'" [height]="'14px'" class="col-md-6"></ngx-shimmer-loading>
                    <ngx-shimmer-loading [shape]="'rect'" [height]="'20px'" class="col-md-4"></ngx-shimmer-loading>
                </div>
                <div class="jflex-column">
                    <ngx-shimmer-loading [shape]="'rect'" [height]="'14px'" class="col-md-6"></ngx-shimmer-loading>
                    <ngx-shimmer-loading [shape]="'rect'" [height]="'20px'" class="col-md-4"></ngx-shimmer-loading>
                </div>
                <div class="jflex-column">
                    <ngx-shimmer-loading [shape]="'rect'" [height]="'14px'" class="col-md-6"></ngx-shimmer-loading>
                    <ngx-shimmer-loading [shape]="'rect'" [height]="'20px'" class="col-md-4"></ngx-shimmer-loading>
                </div>
                <div class="jflex-column">
                    <ngx-shimmer-loading [shape]="'rect'" [height]="'14px'" class="col-md-6"></ngx-shimmer-loading>
                    <ngx-shimmer-loading [shape]="'rect'" [height]="'20px'" class="col-md-4"></ngx-shimmer-loading>
                </div>
            </div>
        </mat-card>
    </div>
    
    
    
    
    <div class="background-green jflex-row padding-beauty center-main-axis">
        <ngx-shimmer-loading *ngIf="loader" [shape]="'rect'" [height]="'32px'" class="col-md-10"></ngx-shimmer-loading>
        <a *ngIf="!loader" routerLink="/financial-planner/summary-planner" mat-raised-button style="background-color: #6ED940; color: white; width: 80%; ">Lanjut</a>
    </div>
</div>