<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <mat-icon class="clickable" routerLink="../index/more">chevron_left</mat-icon>
        <h1 style="text-align: center;" class="width-full headFont"><b>Backward Projection</b></h1>
    </div>

    <div class="flex-center" style="margin-bottom: 2em;margin-top: 1em;">
        <div class="profile-name">
            Pilih Kategori
        </div>
    </div>

    <div class="clickable" [ngClass]="pasarUangBool ? 'item-box-choosen':'item-box'" style="padding: 1em;" (click)="pasarUangChoose()">
        <div class="width-full text-center">
            <b>Pasar Uang</b>
        </div>
    </div>
    <div class="clickable" [ngClass]="obligasiBool ? 'item-box-choosen':'item-box'" style="padding: 1em;" (click)="obligasiChoose()">
        <div class="width-full text-center">
            <b>Obligasi</b>
        </div>
    </div>
    <div class="clickable" [ngClass]="sahamBool ? 'item-box-choosen':'item-box'" style="padding: 1em;" (click)="sahamChoose()">
        <div class="width-full text-center">
            <b>Saham</b>
        </div>
    </div>
    <div class="flex" style="align-items: center;align-self: center;">
        <mat-checkbox class="text-center" [checked]="skCheck" (change)="setSk($event.checked)">
            <div>
                <b>Saya Sudah Baca  &nbsp;</b>
            </div>
        </mat-checkbox>
        <div class="clickable" style="color: #6ED940" (click)="openSKPopup()">
            <b>Syarat dan Ketentuan</b>
        </div>
    </div>

    <button mat-button [ngClass]="checkDisable() ? 'button-fill-disabled':'button-fill'" class=" width-full"
     style="margin-top:2em;" [disabled]="checkDisable()" routerLink="../backward-list-reksadana">Lanjut</button>
</div>