<div *ngIf="!isFailedToLoad" class="jflex-column container pb-5" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <mat-icon class="clickable" routerLink="../../index/more">chevron_left</mat-icon>
        <h1 style="text-align: center;" class="width-full headFont"><b>Backward Projection</b></h1>
    </div>

    <div class="flex-center" style="margin-bottom: 2em;margin-top: 1em;">
        <div class="profile-name">
            Pilih Kategori
        </div>
    </div>
    <!-- start shimerring -->
    <div class ='item-shimmer' *ngIf="isLoading">
        <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'150px'"></ngx-shimmer-loading>
    </div>
    <div class ='item-shimmer' *ngIf="isLoading">
        <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'150px'"></ngx-shimmer-loading>
    </div>
    <!-- end shimerring -->

    <div class="row">
        <div *ngFor="let reksadana of listReksadana; let i = index" class="col-md-12">
            <div class="clickable flex" [ngClass]="setClass(reksadana)" style="padding: 2em;align-items: center;" (click)="choose(reksadana)">
                <div class="width-full font-32">
                    <b>{{ reksadana.nama }}</b>
                </div>
                <div>
                    <img src="/assets/icon/icon-kategori-{{ (i%3+1) }}.png" alt="Wellme" width="200" height="100">
                </div>
            </div>
        </div>
        <div class="flex mt-3 col-md-12" style="align-self: center;justify-content: center;">
            <mat-checkbox class="text-center" [checked]="skCheck" (change)="setSk($event.checked)">
                <div class="font-18">
                    <b>Saya Sudah Baca  &nbsp;</b>
                </div>
            </mat-checkbox>
            <div class="clickable font-18" style="color: #6ED940;padding-top: 0.10em" (click)="openSKPopup()">
                <b>Syarat dan Ketentuan</b>
            </div>
        </div>
    
        <button mat-button [ngClass]="checkDisable() ? 'button-fill-disabled':'button-fill'" class=" width-full col-md-12"
         style="margin-top:2em;" [disabled]="checkDisable()" (click)="openTutorialBackward()">Lanjut</button>
    </div>
    

     <div class="floating">
        <img class="img-fluid clickable" src="/assets/icon/icon_mulai_tur_singkat.png" (click)="goToTutorialPage()" alt="Wellme" width="80" height="80">
     </div>
</div>

<div *ngIf="isFailedToLoad" class="master-component">
    <div class="row" style="justify-content: center;">
        <div class="col-md-10">
            <app-failed-to-load [errorStatus]="this.errorStatus" (onButtonClicked)="errorButtonClicked()"></app-failed-to-load>
        </div>
    </div>
</div>