<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 90%; text-align: center;;" class="headFont">Beli Reksadana</h1>
    </div>
    <div class="jflex-column padding-beauty  center-cross-axis ">
        
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div class="jflex-column">
                <h1 class="font-green">Batavia Kas Dana Nasbah</h1>
                <p>Pasar Uang, 21 December</p>
                <p>Kinerja 1 Bulan</p>
                <h2 class="font-green">+0,33%</h2>
                <p>NAB/Unit</p>
                <h2 class="font-green">Rp 1,566.08</h2>          
                <p>Biaya Pembelian</p>
                <h2 class="font-green">Rp 6,500</h2>
                <p>Total Pembelian</p>
                <h2>Rp 50,0000</h2>

            </div>
        </mat-card>
        <div class="jflex-column litle-space" style="width: 100%;">
            <a mat-raised-button class="green-button litle-space" style="padding-top: 10px; padding-bottom: 10px; color: black; font-weight: 1000;">Download Prospektus</a>
            <a mat-raised-button class="green-button " style="padding-top: 10px; padding-bottom: 10px; color: black; font-weight: 1000;">Download Fund fact Sheet</a>
            
        </div>
        <div>
            <span><strong>Baca</strong> <a class="font-green" >Disclaimer</a></span>
        </div>  
    </div>
    
    
    
    
</div>