<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
          <h1 style="flex-basis: 90%; text-align: center;;" class="headFont">Financial Planner</h1>
    </div>
    <div class="background-green padding-beauty" style="height: 90%;">
        <mat-card class="box-outline padding-beauty" style="margin-bottom: 10px;">
        <div class="jflex-row stretch">
            <div class="jflex-column stretch">
                <span><strong> iPhone 12 Pro</strong></span>
                <span class="percentage-list">50%</span>
                <span class="target">Target:25.000.000</span>
            </div>
            <div>
                <mat-progress-spinner mode="determinate" value="10"></mat-progress-spinner>
            </div>
        </div>
        
    </mat-card>
    <mat-card class="box-outline padding-beauty" style="margin-bottom: 10px;">
        <div class="jflex-row stretch">
            <div class="jflex-column stretch">
                <span><strong> iPhone 12 Pro</strong></span>
                <span class="percentage-list">50%</span>
                <span class="target">Target:25.000.000</span>
            </div>
            <div>
                <mat-progress-spinner mode="determinate" value="10">Test</mat-progress-spinner>
            </div>
        </div>
        
    </mat-card>
    <mat-card class="box-outline padding-beauty" style="margin-bottom: 10px;">
        <div class="jflex-row stretch">
            <div class="jflex-column stretch">
                <span><strong> iPhone 12 Pro</strong></span>
                <span class="percentage-list">50%</span>
                <span class="target">Target:25.000.000</span>
            </div>
            <div>
                <mat-progress-spinner mode="determinate" value="10"></mat-progress-spinner>
            </div>
        </div>
        
    </mat-card>
    
    </div>
    <div class="background-green jflex-row padding-beauty" >
        <button mat-raised-button style="background-color: #6ED940; color: white; width: 40%;">Primary</button>
    </div>
</div>