<div class="jflex-column container">
    <div class="jflex-row center-cross-axis row" style="padding-top:20px;" *ngIf="loader==true">
        <div *ngIf="loader==true"><ngx-shimmer-loading [shape]="'circle'" [width]="'50px'" [height]="'50px'" ></ngx-shimmer-loading></div>
        <div *ngIf="loader==true" style="flex-basis: 90%;" class="jflex-row center-main-axis"><ngx-shimmer-loading [shape]="'rect'" [width]="'200px'" [height]="'32px'" ></ngx-shimmer-loading></div>
    </div>
    <div class="jflex-row center-main-axis" style="padding-top:20px;"  *ngIf="loader==false">
        
        <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="text-align: center;" class="width-full headFont"><b>Financial Planner</b></h1>
    </div>
    <div class="jflex-column padding-beauty center-main-axis center-cross-axis" style="height:90%" [ngClass]="notFound">
        <img src="assets/img/list-planner-nothing.png">
        <h2 class="font-green"  style="text-align: center;"><strong>Tidak ada item yang bisa dicari :(</strong></h2>
        <p class="font-green"  style="text-align: center;"> Ayo selesaikan objectives dan dapatkan berbagai macam Promo Menarik</p>
        
    </div>
    <div class="row background-green padding-beauty scroll" [ngClass]="listPlannerDisplay" style="height: 90%; overflow: auto;">
        <div class="col-md-12" *ngFor="let plan of listPlanner" (click)="portofolioClicked(plan)">
        <mat-card class="box-outline row padding-beauty" style="margin-bottom: 10px; cursor: pointer;" >
            <div class="jflex-row col-md-12 stretch">
                <div class="jflex-column stretch">
                    <span><strong>{{plan.nama_plan}}</strong></span>
                    <span class="percentage-list">{{plan.current/plan.target*100>100?100:plan.current/plan.target*100 | number:'1.0-0'}} %</span>
                    <span class="target">Target:&nbsp;{{plan.target |currency:'Rp ':true:'1.0-2'}}</span>
                </div>
                <div class="jflex-column">
                <circle-progress 
                    [percent]="plan.current/plan.target*100>100?100:plan.current/plan.target*100"
                    [radius]="50"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#6ED940'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
                </div>
            </div>
            
        </mat-card>
        </div>
        <div [ngClass]="shimmering" style="width: 100%;">
            <mat-card class="box-outline padding-beauty" style="margin-bottom: 10px; cursor: pointer; width: 100%;" *ngFor="let i of [1,2,3,4,5]">
                <div class="jflex-row stretch">
                    <div class="jflex-column stretch">
                        <span><strong><ngx-shimmer-loading [shape]="'rect'" [width]="'100px'" [height]="'14px'"></ngx-shimmer-loading></strong></span>
                        <span class="percentage-list"><ngx-shimmer-loading [shape]="'rect'" [width]="'200px'" [height]="'50px'"></ngx-shimmer-loading></span>
                        <span class="target"><ngx-shimmer-loading [shape]="'rect'" [width]="'100px'" [height]="'14px'"></ngx-shimmer-loading></span>
                    </div>
                    <div class="jflex-column">
                        <ngx-shimmer-loading [shape]="'circle'" [width]="'100px'" [height]="'100px'"></ngx-shimmer-loading>
                    </div>
                </div>
                
            </mat-card>
        </div>
        
    </div>
    <div class="background-green jflex-row row padding-beauty center-main-axis">
        <a mat-raised-button href="financial-planner/pilih-target" style="background-color: #6ED940; color: white; width: 80%; ">Tambah Portofolio</a>
    </div>
</div>