<div class="master-component">

    <img src="../../../assets/icon/well-me-logo.png" alt="Wellme" width="100" height="30">

    <div class="font-14" style="color:rgba(0, 0, 0, 0.6);">
        Saldo Investasi
    </div>
    <div class="flex">
        <div>
            Rp
        </div>
        <div class="font-20">
            <b>4,000,000</b>
        </div>
    </div>

    <div class="profile-item-box" style="padding: 1em 2em 1em 2em; margin-top: 2em;">
        <div class="flex" style="align-items: center; justify-content: space-between;">
            <div>
                <div class="font-14" >
                    <b>
                        Reksadana
                    </b>
                </div>
                <div class="font-20">
                    Rp1,000,000
                </div>
            </div>
            <div class="flex" style="align-items: center;">
                <circle-progress
                [percent]="90"
                [radius]="50"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300">
            </circle-progress>
            <mat-icon class="font-32" style="margin-left: 2em;">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </div>
    <div class="profile-item-box" style="padding: 1em 2em 1em 2em; margin-top: 2em;">
        <div class="flex" style="align-items: center; justify-content: space-between;">
            <div>
                <div class="font-14" >
                    <b>
                        Reksadana
                    </b>
                </div>
                <div class="font-20">
                    Rp1,000,000
                </div>
            </div>
            <div class="flex" style="align-items: center;">
                <circle-progress
                [percent]="50"
                [radius]="50"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300">
            </circle-progress>
            <mat-icon class="font-32" style="margin-left: 2em;">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </div>
</div>
