<div *ngIf="!this.isFailedToLoad" class="master-component container">

    <img src="assets/icon/well-me-logo.png" alt="Wellme" width="100" height="30">


    <div class="row mt-3" >
        <div class="profile-item-box width-full" style="padding:2em;">
            <div class="font-14" style="color:rgba(0, 0, 0, 0.6);">
                <b>Saldo Investasi</b>
            </div>
            <div *ngIf="!isLoading" class="flex mt-2" >
                <div *ngIf="profileMaster.total_investasi !=null" class="font-20">
                    <b>{{profileMaster.total_investasi  | currency : 'Rp ' | IDR}}</b>
                    <!-- <b>{{profileMaster.total_investasi | currencyFormat}}</b> -->
                </div>
                <div *ngIf="profileMaster.total_investasi ==null" class="font-20">
                    <b>Rp -</b>
                </div>
            </div>
            <div *ngIf="isLoading" class="flex mt-2 row" >
                <div class="col-md-6">
                    <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex" style="margin-right: -15px !important;
    margin-left: -15px !important; ">
        <div class="col-xl-4">
            <div class="profile-item-box p-3" style="min-height: 200px;">
                <div class="flex">
                    <div>
                        <div class="text-wellme-color font-14">
                            <b>
                                Yuk Manfaatkan
                                Fitur Financial Planner!
                            </b>
                        </div>
                        <div class="text-wellme-color font-12">
                            Buat target, dan tentukan
                            pilihan reksadana yang
                            sesuai dengan kamu!
                        </div>
                    </div>
                    <div style="align-self: center;">
                        <mat-icon class="clickable text-wellme-color" style="font-size: 55px;" [inline]="true">list_alt</mat-icon>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button mat-button class="pilih-button" routerLink="../../financial-planner">Buat Target</button>
                </div>
            </div>
        </div>
        
        <div class="col-xl-4">
            <div class="profile-item-box p-3"  style="min-height: 200px;">
                <div class="flex">
                    <div>
                        <div class="text-wellme-color font-14">
                            <b>
                                Masih bingung cara 
                                memulai investasi?
                            </b>
                        </div>
                        <div class="text-wellme-color font-12">
                            Pakai fitur Virtual Trading
                            agar kamu semakin yakin
                            dalam berinvestasi!
                        </div>
                    </div>
                    <div style="align-self: center;">
                        <mat-icon class="clickable text-wellme-color" style="font-size: 55px;" [inline]="true">calculate</mat-icon>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button mat-button class="pilih-button" routerLink="../../backward-projection">Mulai Belajar</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="profile-item-box p-3 "  style="min-height: 200px;">
                <div class="flex">
                    <div>
                        <div class="text-wellme-color font-14">
                            <b>
                                Yuk, cek promo
                                terbaik hari ini!
                            </b>
                        </div>
                        <div class="text-wellme-color font-12">
                            Dengan Promo, kamu bisa
                            dengan mudah mendapatkan
                            cashback dari transaksi.
                        </div>
                    </div>
                    <div style="align-self: center;">
                        <mat-icon class="clickable text-wellme-color" style="font-size: 55px;" [inline]="true">loyalty</mat-icon>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button mat-button class="pilih-button" routerLink="../../promo">Cek Promo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <img class="img-fluid mt-4" src="assets/icon/icon-kategori-1.png" alt="Wellme" width="200" height="150">
            <img class="img-fluid mt-4"  src="assets/img/landing-page-icon-2.png" alt="Wellme" width="200" height="150">
        </div>
        <div *ngIf="!isLoading" class="col-xl-8 px-0 mt-2">
            <div class="profile-item-box" style="padding: 1em 2em 1em 2em;">
                <div class="flex" style="align-items: center; justify-content: space-between;">
                    <div>
                        <div class="font-14" >
                            <b>
                                Reksadana
                            </b>
                        </div>
                        <div *ngIf="profileMaster.total_investasi !=null" class="font-20">
                            {{profileMaster.total_investasi | currency : 'Rp '|IDR}}
                        </div>
                        <div *ngIf="profileMaster.total_investasi ==null" class="font-20">
                            Rp-
                        </div>
                    </div>
                    <div class="flex" style="align-items: center;">
                        <circle-progress
                        [percent]="profileMaster.total_investasi !=null && profileMaster.total_investasi != 0 ? 100 : 0"
                        [radius]="50"
                        [showSubtitle]="false"
                        [renderOnClick]="false"
                        [outerStrokeWidth]="16"
                        [backgroundStroke]="'#6ED940'"
                        [backgroundStrokeWidth]="16"
                        [backgroundPadding]="-7"
                        [showInnerStroke] ="false"
                        [showZeroOuterStroke]="false"
                        [outerStrokeColor]="'#118607'"
                        [animation]="true"
                        [animationDuration]="300">
                    </circle-progress>
                    <mat-icon class="font-32 clickable">arrow_forward_ios</mat-icon>
                    </div>
                </div>
            </div>
            <div class="profile-item-box" style="padding: 1em 2em 1em 2em; margin-top: 2em;">
                <div class="flex" style="align-items: center; justify-content: space-between;">
                    <div>
                        <div class="font-14" >
                            <b>
                                Obligasi
                            </b>
                        </div>
                        <div class="font-20">
                            Rp-
                        </div>
                    </div>
                    <div class="flex" style="align-items: center;">
                        <circle-progress
                            [percent]="0"
                            [radius]="50"
                            [showSubtitle]="false"
                            [renderOnClick]="false"
                            [outerStrokeWidth]="16"
                            [backgroundStroke]="'#6ED940'"
                            [backgroundStrokeWidth]="16"
                            [backgroundPadding]="-7"
                            [showInnerStroke] ="false"
                            [showZeroOuterStroke]="false"
                            [outerStrokeColor]="'#78C000'"
                            [animation]="true"
                            [animationDuration]="300">
                        </circle-progress>
                    <mat-icon class="font-32 clickable">arrow_forward_ios</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading" class="col-xl-8 px-0 mt-2">
            <div class="row">
                <div class="col-md-12">
                    <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'150px'"></ngx-shimmer-loading>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'150px'"></ngx-shimmer-loading>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div *ngIf="this.isFailedToLoad" class="master-component">
    <div class="row" style="justify-content: center;">
        <div class="col-md-10">
            <app-failed-to-load [errorStatus]="this.errorStatus" (onButtonClicked)="errorButtonClicked()"></app-failed-to-load>
        </div>
    </div>
</div>
