<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 90%; text-align: center;;" class="headFont">Beli Reksadana</h1>
    </div>
    <div class="jflex-column padding-beauty  center-cross-axis "  style="height:40%;"  >
        <h1>Kode Pin</h1>
        <div class="jflex-row stretch">
            <span [ngClass]="activeStatus[0]"></span>
            <span [ngClass]="activeStatus[1]"></span>
            <span [ngClass]="activeStatus[2]"></span>
            <span [ngClass]="activeStatus[3]"></span>
            <span [ngClass]="activeStatus[4]"></span>
            <span [ngClass]="activeStatus[5]"></span>
        </div>

    </div>
    <div class="jflex-column padding-beauty  center-cross-axis "  style="height:40%;"  >
        <div class="jflex-row">
            <button class="pin-button" (click)="buttonPressed(1)">1</button>
            <button class="pin-button" (click)="buttonPressed(2)">2</button>
            <button class="pin-button" (click)="buttonPressed(3)">3</button>
        </div>
        <div class="jflex-row">
            <button class="pin-button" (click)="buttonPressed(4)">4</button>
            <button class="pin-button" (click)="buttonPressed(5)">5</button>
            <button class="pin-button" (click)="buttonPressed(6)">6</button>
        </div>
        <div class="jflex-row">
            <button class="pin-button" (click)="buttonPressed(7)">7</button>
            <button class="pin-button" (click)="buttonPressed(8)">8</button>
            <button class="pin-button" (click)="buttonPressed(9)">9</button>
        </div>
        <div class="jflex-row">
            <div class="pin-button" style="border: 0px;"></div>
            <button class="pin-button" (click)="buttonPressed(0)">0</button>
            <button class="pin-button" (click)="buttonPressed(-1)"><mat-icon class="font-green">backspace</mat-icon></button>
            
        </div>
        

    </div>    
    <div class=" jflex-column padding-beauty center-cross-axis background-green">
            
        <a href="/beli-reksadana" mat-raised-button style="background-color: #6ED940; color: white; width: 80%; ">Tutup</a>
    </div>
    
</div>