<div class="p-3 container" style="height: 100%;">
    <div class="jflex-row center-main-axis"><img width="100px" src="/assets/img/warning.png"></div>
    
    <div class="text-center font-24 mt-4" style="line-height: 26px;">
        
        <b>Kamu yakin menghapus Target kamu?</b>
    </div>
    <div class="row flex mt-5" style="justify-content: space-between;">
        
        <div class="col-md-6">
            <button mat-button class="button-range clickable text-center width-full" (click)="yesClicked()" style="padding: 1em;">
                <div>
                    <b>Hapus</b>
                </div>
            </button>
        </div>
        <div class="col-md-6">
            <button mat-button class="button-fill clickable text-center width-full" (click)="noClicked()" style="padding: 1em;">
                <div>
                    <b>Tidak</b>
                </div>
            </button>
        </div>
    </div>
  
</div>