.button-range{
    background: #FFFFFF;
    border: 1px solid #6ED940;
    box-sizing: border-box;
    border-radius: 5px;
    color : #6ED940;
}
::ng-deep .mat-button-focus-overlay {
    display: none;
  }