<router-outlet></router-outlet>
<mat-toolbar class="toolbarNav">
  <div class="clickable text-center" routerLink="./home">
    <i class="fas fa-book-open"></i>
    <div style="font-size: small;">
      Portofolio
    </div>
  </div>
  <div class="clickable text-center" routerLink="./profile">
    <i class="far fa-user-circle"></i>
    <div style="font-size: small;">
      Profile
    </div></div>
  <div class="clickable text-center" routerLink="./profile">
    <i class="fas fa-chart-line"></i>
    <div style="font-size: small;">
      Products
    </div>
  </div>
  <div class="clickable text-center" routerLink="./profile">
    <i class="far fa-newspaper"></i>
    <div style="font-size: small;">
      News
    </div>
  </div>
  <div class="clickable text-center" routerLink="./profile">
    <i class="fas fa-ellipsis-h"></i>
    <div style="font-size: small;">
      More
    </div>
  </div>
</mat-toolbar>