<div class="master-component container">

    <h1 class="flex-center" style="margin-bottom: 2em;"><b>More</b></h1>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">menu_book</mat-icon>
                <div>
                    Learning
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">business</mat-icon>
                <div>
                    Cabang
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">not_listed_location</mat-icon>
                <div>
                    FAQ
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">contacts</mat-icon>
                <div>
                    Leave Contact
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em; height: 90%;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">call</mat-icon>
                <div>
                    Halo BCA
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em; height: 90%;" routerLink="../../financial-planner">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">list_alt</mat-icon>
                <div>
                    Planner
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em; height: 90%;"  routerLink="../../backward-projection">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">calculate</mat-icon>
                <div>
                    Backward Projection
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em; height: 90%;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">widgets</mat-icon>
                <div>
                    Widgets
                </div>
            </div>
        </div> -->
        <div class="col-md-4">
            <div class="profile-item-box clickable text-center hover-wellme" style="padding: 1em;" routerLink="../../promo">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">loyalty</mat-icon>
                <div>
                    Promotion
                </div>
            </div>
        </div>     
    </div>
</div>