<div class="master-component">

    <h1 class="flex-center" style="margin-bottom: 2em;"><b>More</b></h1>
    <mat-grid-list cols="4" rowHeight="1.5:1">
        <mat-grid-tile>
            <div class="profile-item-box clickable text-center" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">menu_book</mat-icon>
                <div>
                    Learning
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="profile-item-box clickable text-center" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">business</mat-icon>
                <div>
                    Cabang
                </div>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="profile-item-box clickable text-center" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">not_listed_location</mat-icon>
                <div>
                    Learning
                </div>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="profile-item-box clickable text-center" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">contacts</mat-icon>
                <div>
                    Leave Contact
                </div>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="profile-item-box clickable text-center" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">call</mat-icon>
                <div>
                    Halo BCA
                </div>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="profile-item-box clickable text-center" style="padding: 1em;" routerLink="../../planner-list">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">list_alt</mat-icon>
                <div>
                    Planner
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="profile-item-box clickable text-center" style="padding: 1em;"  routerLink="../../backward-projection">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">calculate</mat-icon>
                <div>
                    Backward Projection
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="profile-item-box clickable text-center" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">widgets</mat-icon>
                <div>
                    Widgets
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <div class="profile-item-box clickable text-center" style="padding: 1em;">
                <mat-icon class="font-32 text-wellme-color " style="width: 40px; height: 40px;">loyalty</mat-icon>
                <div>
                    Promotion
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>