<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 85%; text-align: center;;" class="headFont"><strong>Kode Promo</strong></h1>
        <img src="assets/icon/well-me-logo-small.png" style="padding-right: 10px;" width="107" height="33">
    </div>
    <!-- <div class="jflex-column padding-beauty center-main-axis center-cross-axis" style="height:90%">
        <img src="assets/img/list-planner-nothing.png">
        <h2 class="font-green"><strong>Tidak ada item yang bisa dicari :(</strong></h2>
        <p class="font-green"> Ayo selesaikan objectives dan dapatkan berbagai macam Promo Menarik</p>
        
    </div> -->
    <div class="background-green padding-beauty scroll" style="height: 90%; overflow: auto;">
        
        <mat-card class="box-outline padding-beauty little-space" style="margin-bottom: 10px; ">
            
            <div class="jflex-column stretch">
                <span class="font-green jflex-row" style="align-items: flex-end; margin-bottom: 20px;"><img src="assets/img/img_promo.png" style="width: 170px; height: auto;"></span>
                <span><h1><strong>Cashback 100rb</strong></h1></span>
                <span class="jflex-row center-cross-axis"><mat-icon style="font-size:15pt;color: #6ED940;">access_time</mat-icon> Available Until: 20 December 2021</span>
                <p>Beli Reksadana Obligasi Minimal Rp500,000 dan Dapatkan Cashback Rp100,000</p>
                <div class="jflex-row stretch center-cross-axis">
                    <div class="jflex-column">
                        <p>Kode Promo:</p>
                        <h1><strong>CB100RB</strong></h1>
                    </div>
                    <div>
                        <a mat-button class="green-button" style="padding: 5px 40px;">Pilih</a>
                    </div>
                </div>    
            </div>
        </mat-card>
        <mat-card class="box-outline padding-beauty little-space" style="margin-bottom: 10px; ">
            
            <div class="jflex-column stretch">
                <span class="font-green jflex-row" style="align-items: flex-end; margin-bottom: 20px;"><img src="assets/img/img_promo.png" style="width: 170px; height: auto;"></span>
                <span><h1><strong>Cashback 100rb</strong></h1></span>
                <span class="jflex-row center-cross-axis"><mat-icon style="font-size:15pt;color: #6ED940;">access_time</mat-icon> Available Until: 20 December 2021</span>
                <p>Beli Reksadana Obligasi Minimal Rp500,000 dan Dapatkan Cashback Rp100,000</p>
                <div class="jflex-row stretch center-cross-axis">
                    <div class="jflex-column">
                        <p>Kode Promo:</p>
                        <h1><strong>CB100RB</strong></h1>
                    </div>
                    <div>
                        <a mat-button class="green-button" style="padding: 5px 40px;">Pilih</a>
                    </div>
                </div>    
            </div>
        </mat-card>
        <mat-card class="box-outline padding-beauty little-space" style="margin-bottom: 10px; ">
            
            <div class="jflex-column stretch">
                <span class="font-green jflex-row" style="align-items: flex-end; margin-bottom: 20px;"><img src="assets/img/img_promo.png" style="width: 170px; height: auto;"></span>
                <span><h1><strong>Cashback 100rb</strong></h1></span>
                <span class="jflex-row center-cross-axis"><mat-icon style="font-size:15pt;color: #6ED940;">access_time</mat-icon> Available Until: 20 December 2021</span>
                <p>Beli Reksadana Obligasi Minimal Rp500,000 dan Dapatkan Cashback Rp100,000</p>
                <div class="jflex-row stretch center-cross-axis">
                    <div class="jflex-column">
                        <p>Kode Promo:</p>
                        <h1><strong>CB100RB</strong></h1>
                    </div>
                    <div>
                        <a mat-button class="green-button" style="padding: 5px 40px;">Pilih</a>
                    </div>
                </div>    
            </div>
        </mat-card>
        <mat-card class="box-outline padding-beauty little-space" style="margin-bottom: 10px; ">
            
            <div class="jflex-column stretch">
                <span class="font-green jflex-row" style="align-items: flex-end; margin-bottom: 20px;"><img src="assets/img/img_promo.png" style="width: 170px; height: auto;"></span>
                <span><h1><strong>Cashback 100rb</strong></h1></span>
                <span class="jflex-row center-cross-axis"><mat-icon style="font-size:15pt;color: #6ED940;">access_time</mat-icon> Available Until: 20 December 2021</span>
                <p>Beli Reksadana Obligasi Minimal Rp500,000 dan Dapatkan Cashback Rp100,000</p>
                <div class="jflex-row stretch center-cross-axis">
                    <div class="jflex-column">
                        <p>Kode Promo:</p>
                        <h1><strong>CB100RB</strong></h1>
                    </div>
                    <div>
                        <a mat-button class="green-button" style="padding: 5px 40px;">Pilih</a>
                    </div>
                </div>    
            </div>
        </mat-card>
        
    </div>
    <div class="background-green jflex-row padding-beauty center-main-axis">
        <a mat-raised-button href="/pilih-target" style="background-color: #6ED940; color: white; width: 80%; ">Tambah Portofolio</a>
    </div>
</div>