<div>
    <div class="text-center" style="margin-bottom: 1em;">
        <h1><b>Backward Projection</b></h1>
        <div class="font-18">
            Syarat dan Ketentuan
        </div>
    </div>
    <div class="profile-item-box font-12" style="padding: 1em;">
        Fitur Virtual Trading ini disediakan bagi Anda hanya sebagai alat bantu simulasi investasi dan tidak dimaksudkan untuk menyediakan rekomendasi atau saran apa pun.
PT Bank Central Asia Tbk (BCA) tidak bertanggung jawab atas keakuratan hasil simulasi ini. Segala akibat yang timbul dari penggunaan hasil simulasi menjadi tanggung jawab (calon) Investor sepenuhnya. (Calon) Investor disarankan untuk meminta petunjuk dari penasihat keuangan, hukum, dan pajak sebelum melakukan transaksi produk investasi.
Nilai estimasi imbal hasil (return) bukan merupakan jaminan nilai return yang akan diperoleh (calon) Investor, namun hanya merupakan indikasi. Dalam hal (calon) Investor memasukkan pilihan profil risiko, maka nilai estimasi return yang ditampilkan merupakan nilai return historis rata-rata dari masing-masing jenis produk investasi sesuai dengan profil risiko yang dipilih.
    </div>
    <button (click)="onCloseDialog()" mat-button class="button-fill width-full">Lanjut</button>
</div>