<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a (click)="goBack()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 90%; text-align: center;;" class="headFont">Beli Reksadana</h1>
    </div>
    <div class="jflex-column padding-beauty  center-cross-axis">
        <h1 style="font-weight: 300;">{{namaPlan}}</h1>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div class=" jflex-row stretch">
                <div><strong>Profil Resiko</strong></div>
                <div >{{plannerResiko.tipe_resiko}}</div>
            </div>
        </mat-card>
        
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <table style="width: 100%;">
                <thead>
                    <th colspan="2"><strong>Profil Resiko</strong></th>
                    <th style="text-align: center;"><strong>Alokasi (%)</strong></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr  *ngFor="let alokasi of plannerResiko.detail_resiko; let i = index" [attr.data-index]="i">
                        <td colspan="2">
                            <div class="jflex-column">
                                <div class="font-green"><strong>{{alokasi.nama_plan}}</strong></div>
                                <div *ngIf="plannerBeliState.pembelian[i].nama_produk">{{plannerBeliState.pembelian[i].nama_produk}}</div>
                            </div>
                        </td>
                        <td>
                            <div class="jflex-row center-main-axis">
                                <button (click)="decreasePercentage(i)" mat-mini-fab style="padding: 0; width: 30px; height: 30px; background-color: #6ED940;"><mat-icon style="font-size: small;">chevron_left</mat-icon></button>
                                <input type="number" style="width: 40px; margin: 0px 10px;" min="0" max="100" [(ngModel)]="plannerBeliState.pembelian[i].percentage" (change)="saveState()">
                                <button (click)="increasePercentage(i)" mat-mini-fab style="padding: 0; width: 30px; height: 30px; background-color: #6ED940;"><mat-icon style="font-size: small;">chevron_right</mat-icon></button>    
                            </div> 
                        </td>
                        <td>  <button mat-button class="green-button" (click)="goToListReksadana(plannerResiko.detail_resiko[i])">Pilih</button></td> 
                    </tr>
                  <tr>
                     <td colspan="2"><div></div></td>
                     <td> <div style="color:red; text-align: center;" [ngClass]="errorClassPercentage">{{errorMessagePercentage}}</div></td>
                     <td><div></div></td>
                  </tr>
                </tbody>
            </table>
        </mat-card>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div class="jflex-column stretch">
                <div><strong>Rekomendasi Pembelian</strong></div>
                <h3 class="font-green" style="margin-bottom: 0;"><strong>{{rekomendasiPembelian |currency:'Rp ':true:'1.0-2'}}</strong></h3>
            </div>
        </mat-card>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div><strong>Nominal Pembelian</strong></div>
            <mat-form-field appearance="standard" style="width: 100%;">
                <mat-label>Masukan Nominal</mat-label>
                <input type="number" [min]="0"  matInput [(ngModel)]="plannerBeliState.nominal_pembelian" (change)="saveState()">
               
            </mat-form-field>
            <span style="color:red" [ngClass]="errorClassNominalPembelian">{{errorMessageNominalPembelian}}</span>
        </mat-card>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div><strong>Kode Promo</strong></div>
            <mat-form-field appearance="standard" style="width: 100%;">
                <mat-label></mat-label>
                <input type="text"  matInput [(ngModel)]="plannerBeliState.kode_promo" (change)="saveState()">
            </mat-form-field>
            <a mat-button class="green-button" (click)="goToPromo()">Pilih</a>
            <span style="color:red" [ngClass]="errorClassKodePromo">{{errorMessageKodePromo}}</span>
        </mat-card>
       
    </div>
    
    
    
    
    <div class="background-green jflex-row padding-beauty center-main-axis">
        <a (click)="goToConfirmationPage()" mat-raised-button style="background-color: #6ED940; color: white; width: 80%; "><strong>Beli Reksadana</strong></a>
    </div>
</div>