<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 90%; text-align: center;;" class="headFont">Portofolio Baru</h1>
    </div>
    <div class="jflex-column padding-beauty  center-cross-axis">
        <h1 style="font-weight: 300;">Iphone 12 Pro Baru</h1>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div class=" jflex-row stretch">
                <div><strong>Profil Resiko</strong></div>
                <div >Agresif</div>
            </div>
        </mat-card>
        
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <table style="width: 100%;">
                <thead>
                    <th colspan="2"><strong>Profil Resiko</strong></th>
                    <th><strong>Alokasi</strong></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <div class="jflex-column">
                                <div class="font-green"><strong>Pasar Uang</strong></div>
                                <div>Manulife Pasar Uang II</div>
                            </div>
                        </td>
                        <td>10%</td>
                        <td>  <a mat-button class="green-button">Pilih</a></td> 
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="jflex-column">
                                <div class="font-green"><strong>Pasar Uang</strong></div>
                                <div>Manulife Pasar Uang II</div>
                            </div>
                        </td>
                        <td>10%</td>
                        <td>  <a mat-button class="green-button">Pilih</a></td> 
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="jflex-column">
                                <div class="font-green"><strong>Pasar Uang</strong></div>
                                <div>Manulife Pasar Uang II</div>
                            </div>
                        </td>
                        <td>10%</td>
                        <td><a mat-button class="green-button">Pilih</a></td> 
                    </tr>
                </tbody>
            </table>
        </mat-card>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div class="jflex-column stretch">
                <div><strong>Rekomendasi Pembelian</strong></div>
                <h3 class="font-green" style="margin-bottom: 0;"><strong>Rp 2,000,000</strong></h3>
            </div>
        </mat-card>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div><strong>Nominal Pembelian</strong></div>
            <mat-form-field appearance="standard" style="width: 100%;">
                <mat-label>Masukan Nominal</mat-label>
                <input type="number"  matInput>
              </mat-form-field>
        </mat-card>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <div><strong>Kode Promo</strong></div>
            <mat-form-field appearance="standard" style="width: 100%;">
                <mat-label></mat-label>
                <input type="text"  matInput>
              </mat-form-field>
              <a mat-button class="green-button" href="/promo-kode">Pilih</a>
        </mat-card>
    </div>
    
    
    
    
    <div class="background-green jflex-row padding-beauty center-main-axis">
        <button mat-raised-button style="background-color: #6ED940; color: white; width: 80%; "><strong>Beli Reksadana</strong></button>
    </div>
</div>