<div>
    <div class="text-center" style="margin-bottom: 1em;">
        <h1><b>Beli Reksadana</b></h1>
        <div class="font-18">
            Informasi Produk
        </div>
    </div>
    <div class="profile-item-box font-12" style="padding: 1em;">
        Transaksi Reksa Dana yang dilakukan hingga Pukul 13.00 Waktu Indonesia Barat (WIB) pada hari bursa akan diproses pada dan menggjunakan Nilai Aktiva Bersih (NAB)/ Unit Penyertaan hari bursa yang sama.
        Transaksi Reksa Dana yang dilakukan setelah Pukul 13.00 Waktu Indonesia Bagian Barat (WIB) pada hari bursa atau yang dilakukan pada hari libur bursa (termasuk Sabtu, Minggu, dan hari libur nasional) akan diproses pada dan menggunakan NAB/Unit Penyertaan hari bursa berikutnya. 
        Waktu yang digunakan dalam bertransaksi adalah Waktu Indonesia Barat (WIB).
        Pengajuan transaksi pembelian berkala selambat-lambatnya dilakukan T-1 hari bursa dari tanggal pembelian berkala. Untuk mengubah/mengakhiri transaksi pembelian berkala, silahkan datang ke cabang BCA yang daftarnya dapat dilihat pada menu 
        More - Cabang.   
    </div>
    <button (click)="onCloseDialog()" mat-button class="button-fill width-full">Lanjut</button>
</div>