<div class="scroll-wrapper" [style.overflow-y]="this.sidenav.opened ? 'hidden' : 'auto'" cdkScrollable >
    <div class="background-all">
        <mat-toolbar fxShow="true" fxHide.lt-md="true" class="sticky-toolbar" [style.background-color]="'rgba(255,255,255,' + opacity +')'">
            <div class="flex row width-full" >
                <div class="col-sm-3 text-center">
                    <img src="assets/icon/well-me-logo.png" alt="Wellme" width="150" height="50">
                </div>
                <div class="col-sm-9 flex" style="justify-content: space-between; align-items: center;">
                    <div class="clickable text-center col-md-3 font-18 hover-wellme">
                        <b>Reksadana</b>
                    </div>
                    <div class="clickable text-center col-md-2 font-18 hover-wellme">
                        <b>Blog</b>
                    </div>
                    <div class="clickable text-center col-md-2 font-18 hover-wellme">
                        <b>FAQ</b>
                    </div>
                    <div class="clickable text-center col-md-3 font-18 hover-wellme" routerLink="../index">
                        <b>Tentang Wellme</b>
                    </div>
                    <button mat-button class="button-fill font-18 col-md-2" routerLink="../login" >Login</button>
                </div>
            </div>
        </mat-toolbar>
        <mat-sidenav-container fxHide="true" fxShow.lt-md="true" class="sticky-toolbar" [style.background-color]="'rgba(255,255,255,' + opacity +')'">
            <mat-sidenav-content fxFlexFill>
                <div class="flex width-full" style="justify-content: space-between;padding: 1em;" >
                    <div class="text-center" >
                        <img src="assets/icon/well-me-logo.png" class="img-fluid" alt="Wellme" width="150" height="50">
                    </div>
                    <div class="flex" style="justify-content: space-between; align-items: center;">
                        <mat-icon *ngIf="!this.sidenav.opened" class="clickable" (click)="sidenav.toggle()">dehaze</mat-icon>
                        <mat-icon *ngIf="this.sidenav.opened" class="clickable" (click)="sidenav.toggle()">close</mat-icon>
                    </div>
                </div>
            </mat-sidenav-content>
            
        </mat-sidenav-container>
        <mat-sidenav #sidenav fxHide="true" fxShow.lt-md="true"  class="width-full" 
        style="margin-top: 7em;z-index: 1036;background-color: rgba(255,255,255);">
            <div class="width-full" style="margin-top: 1em;">
                <div class="clickable text-center font-24 padding-1em hover-wellme">
                    <b>Reksadana</b>
                </div>
                <div class="clickable text-center font-24 padding-1em hover-wellme">
                    <b>Blog</b>
                </div>
                <div class="clickable text-center font-24 padding-1em hover-wellme ">
                    <b>FAQ</b>
                </div>
                <div class="clickable text-center font-24 padding-1em hover-wellme" routerLink="../index">
                    <b>Tentang Wellme</b>
                </div>
                <div class="clickable text-center font-24 padding-1em hover-wellme" routerLink="../login">
                    <b>Login</b>
                </div>
            </div>
        </mat-sidenav>
		<div class="flex row" style="justify-content: space-between; margin-top: 4em;padding-left: 6em; padding-right: 6em;">
            <div class="col-md-6" style="padding-top: 4em; margin-bottom: 3em; ">
                <div class="font-48 text-wellme-color" style="line-height: 64px;">
                    <b>APLIKASI PENGELOLA
                        INVESTASI REKSA DANA</b>
                </div>
                <div class="font-24" style="line-height: 32px; margin-top: 2em;">
                    Wellme menempatkan uang kamu ke portfolio 
                    reksa dana sesuai dengan kebutuhan kamu.
                </div>
                <div style="margin-top: 2em;" class="flex row">
                    <button mat-button class="rounded-button-fill font-18 col-md-3" (click)="goToBottom()">Yuk Mulai</button>
                    <div class="col-md-1">&nbsp;</div>
                    <button mat-button class="rounder-daftar-button font-18 col-md-3" >Daftar</button>
                </div>
            </div>
            <div class="col-md-6 text-center" >
                <img  class="img-fluid" src="assets/img/phone-landing-page-1.png" alt="Wellme">
            </div>
        </div>
        <div class="flex row" style="justify-content: space-between; padding: 4em 6em 4em 6em;">
            <div class="col-md-5">
                <img style="width: 100%" class="img-fluid" src="assets/img/landing-page-icon-1.png">
            </div>
            <div class="col-md-6" style="align-self: center;">
                <div class="text-wellme-color font-32" style="line-height: 32px; ">
                    <b>Investasi yang Dirancang
                        Sesuai Kebutuhan Kamu</b>
                </div>
                <div class="font-24" style="margin-top: 2em; line-height: 24px;">
                    Wellme tahu setiap orang mempunyai kebutuhan yang
                    berbeda. Karena itu, Wellme selalu merekomendasikan
                    portfolio reksadana yang sesuai dengan toleransi kamu
                    terhadap resiko. Semua secara otomatis.
                </div>
            </div>
        </div>
        <div class="flex row" style="justify-content: space-between; padding: 4em 6em 4em 6em;">
            <div class="col-md-6" style=" align-self: center;">
                <div class="text-wellme-color font-32" style="line-height: 32px; ">
                    <b>Rencanakan Masa Depan
                        Dengan Financial Planner</b>
                </div>
                <div class="font-24" style="margin-top: 2em; line-height: 24px;">
                    Fitur Financial Planner Wellme memungkinkan untuk 
                    membuat target yang sesuai dengan profil resiko kamu,
                    sehingga kamu dapat menjaga resiko dan 
                    memaksimalkan keuntungan lewat diversifikasi produk.
                </div>
            </div>
            <div class="col-md-5">
                <img style="width: 100%" class="img-fluid" src="assets/img/landing-page-icon-2.png">
            </div>
        </div>
        <div style="padding: 4em 6em 4em 6em; justify-content: center;" class="text-center row">
            <div class="text-wellme-color font-32 col-md-12" style="line-height: 32px;">
                <b>Belajar Dulu dengan Backward Projection</b>
            </div>
            <div class="width-full col-md-6" style="margin-top: 3em;">
                <div class="font-24" style="line-height: 24px;margin-left: auto;
                margin-right: auto;">
                    Backward Projection akan mengambil data reksadana pilihan kamu
                    selama 5 tahun terakhir, sehingga kamu dapat berlatih dan 
                    menguji strategi investasi, tanpa resiko.
                </div>        
            </div>
            <div class="col-md-12" style=" margin-top: 3em;">
                <img  class="img-fluid" src="assets/img/phone-landing-page-2.png">
            </div>
        </div>
        <div class="flex row" style="justify-content: space-between; padding-right: 4em;padding-left: 4em;">
            <div class="col-md-3 box-landing-page-item text-center" style="padding: 1em; margin-bottom: 2em;">
                <div>
                    Gratis Biaya Komisi
                </div>
                <div class="text-wellme-color">
                    Biaya 0 Rupiah, semua
                    pembelian reksadana gratis
                    tanpa biaya komisi
                </div>
            </div>
            <div class="col-md-3 box-landing-page-item text-center" style="padding: 1em;margin-bottom: 2em;">
               <div>
                    Tidak Dipajak
                </div>
                <div class="text-wellme-color">
                    Biaya 0 Rupiah, semua
                    pembelian reksadana gratis
                    tanpa biaya komisi
                </div>
            </div>
            <div class="col-md-3 box-landing-page-item text-center" style="padding: 1em;margin-bottom: 2em;">
                <div>
                    Pencairan Cepat
                </div>
                <div class="text-wellme-color">
                    Biaya 0 Rupiah, semua
                    pembelian reksadana gratis
                    tanpa biaya komisi
                </div>
            </div>
        </div>
        <div class="row background-down text-center" style="padding: 20em 6em 4em 6em; margin-top: 3em; justify-content: center;">
           <div class="col-md-12 font-32" style="line-height: 32px;">
                Rancang Masa Depan dengan Wellme.
           </div>
           <div class="col-md-12 font-24 text-wellme-color" style="margin-top: 2em;">
                Dream. Invest. Enjoy.
           </div>
           <div>
                <img style="width: 100%;margin-top: 5em; margin-bottom: 20em;" class="img-fluid" src="assets/img/app-store-icon.png" alt="Wellme">
           </div>
        </div>
        <div style="margin-top: 2em;">
            <footer class="page-footer font-small blue" style="padding: 3em 2em 3em 2em">

                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">
            
                  <!-- Grid row -->
                  <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-md-4 mt-md-0 mt-3">
            
                      <!-- Content -->
                      <img src="assets/icon/well-me-logo.png" alt="Wellme" width="150" height="50">
                      <div class="footer-copyright py-3">© Wellme 2021 Copyright</div>
                        <div>Partner kami terdaftar dan diawasi
                        oleh Otoritas Jasa Keuangan</div>
                    </div>
                    <!-- Grid column -->
            
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-4 mt-md-0 mt-3 mb-3 flex px-5" style="justify-content: space-between;">
                        <!-- Content -->
                        <img class="clickable" src="assets/img/twitter_logo.png" alt="Wellme" width="40" height="40">
                        <img class="clickable" src="assets/img/youtube_logo.png" alt="Wellme" width="40" height="40">
                        <img class="clickable" src="assets/img/facebook_logo.png" alt="Wellme" width="40" height="40">
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-2 mb-md-0 mb-3">
            
                        <!-- Links -->
                        <h5 class="clickable font-18 hover-wellme">About</h5>
                        <h5 class="clickable  font-18 hover-wellme">Why Us</h5>
                        <h5 class="clickable  font-18 hover-wellme">Our Teams</h5>
                        <h5 class="clickable  font-18 hover-wellme">FAQ</h5>
            
                    </div>
                      <!-- Grid column -->
            
                      <!-- Grid column -->
                    <div class="col-md-2 mb-md-0 mb-3">
            
                        <!-- Links -->
                        <h5 class="font-18">Get the app</h5>
                        <img class="img-fluid clickable" src="assets/img/app-store-icon.png" alt="Wellme">
                    </div>
                    <!-- Grid column -->
            
                  </div>
                  <!-- Grid row -->
            
                </div>
            </footer>
        </div>
	</div>
</div>
