.toolbarNav{  
    position: fixed;
    bottom: 0;
    width: 50%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border-radius: 1em;
    background-color: white;
    border: 1px solid #6ED940;
    margin-left: auto;
    margin-right: auto;
}

.is-active{
    color: #6ED940;
}

.sticky-footer {
    position: fixed;
    bottom: 0px;
    z-index: 1034;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
  }

  ::ng-deep .mat-drawer:not(.mat-drawe-side){
    box-shadow: unset ;
   }