<div class="container-fluid" >
  <div class="row" [style.overflow]="this.sidenav.opened ? 'hidden' : 'auto'">
    <div class="col-md-6 mx-auto px-0" style="background-color: white;">
      <router-outlet></router-outlet>
      
      <mat-toolbar class="toolbarNav col-md-12" fxShow="true" fxHide.lt-md="true">
        <div class="clickable text-center hover-wellme" routerLink="./portofolio" [routerLinkActive]="['is-active']">
          <i class="fa fa-book-open"></i>
          <div style="font-size: small;">
            Portofolio
          </div>
        </div>
        <div class="clickable text-center hover-wellme" routerLink="./profile" [routerLinkActive]="['is-active']">
          <i class="fa fa-user-circle"></i>
          <div style="font-size: small;">
            Profil
          </div></div>
        <div class="clickable text-center hover-wellme" routerLink="./product" [routerLinkActive]="['is-active']">
          <i class="fa fa-chart-line"></i>
          <div style="font-size: small;">
            Produk
          </div>
        </div>
        <div class="clickable text-center hover-wellme" routerLink="./news" [routerLinkActive]="['is-active']">
          <i class="fa fa-newspaper"></i>
          <div style="font-size: small;">
            Berita
          </div>
        </div>
        <div class="clickable text-center hover-wellme" routerLink="./more" [routerLinkActive]="['is-active']">
          <i class="fa fa-ellipsis-h"></i>
          <div style="font-size: small;">
            Lainnya
          </div>
        </div>
      </mat-toolbar>
      

      <mat-sidenav-container fxHide="true" fxShow.lt-md="true" class="sticky-footer col-md-6">
        <mat-sidenav-content fxFlexFill>
            <div class="flex width-full" style="justify-content: space-between;padding: 1em;" >
                <div class="text-center" >
                    <img src="assets/icon/well-me-logo.png" class="img-fluid" alt="Wellme" width="150" height="50">
                </div>
                <div class="flex" style="justify-content: space-between; align-items: center;">
                    <mat-icon *ngIf="!this.sidenav.opened" class="clickable" (click)="sidenav.toggle()">dehaze</mat-icon>
                    <mat-icon *ngIf="this.sidenav.opened" class="clickable" (click)="sidenav.toggle()">close</mat-icon>
                </div>
            </div>
        </mat-sidenav-content>
        
      </mat-sidenav-container>
      <mat-sidenav fixedInViewport="true" #sidenav fxHide="true" fxShow.lt-md="true"  class="width-full col-md-6" 
      style="margin-bottom: 7em;z-index: 1036;background-color: rgba(255,255,255);">
          <div class="width-full" style="margin-top: 1em;">
            <div class="clickable text-center hover-wellme mt-3" routerLink="./portofolio" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">
              <i class="fas fa-book-open fa-3x"></i>
              <div class="font-24">
                Portofolio
              </div>
            </div>
            <div class="clickable text-center hover-wellme mt-3" routerLink="./profile" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">
              <i class="far fa-user-circle fa-3x"></i>
              <div sclass="font-24">
                Profil
              </div></div>
            <div class="clickable text-center hover-wellme mt-3" routerLink="./product" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">
              <i class="fas fa-chart-line fa-3x"></i>
              <div class="font-24">
                Produk
              </div>
            </div>
            <div class="clickable text-center hover-wellme mt-3" routerLink="./news" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">
              <i class="far fa-newspaper fa-3x"></i>
              <div class="font-24">
                Berita
              </div>
            </div>
            <div class="clickable text-center hover-wellme mt-3" routerLink="./more" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">
              <i class="fas fa-ellipsis-h fa-3x"></i>
              <div class="font-24">
                Lainnya
              </div>
            </div>
          </div>
      </mat-sidenav>
    </div>
  </div>
</div>

  