/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.centering{
    width: 768px;
    margin-right: auto;
    margin-left: auto;
    
}

.jflex-column{
    display: flex;
    flex-direction: column;

}
.jflex-row{
    display: flex;
    flex-direction: row;
}
 .headFont{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
 }
 .background-green{
    background: rgba(204, 237, 190, 0.5);
 }
 .padding-beauty{
     padding: 10px;
 }
 .box-outline{
    background: #FFFFFF;
    border: 1px solid #6ED940;
    box-sizing: border-box;
    border-radius: 5px;
 }
 
 circle{
     stroke: #6ED940 !important;
 }