@import '~@angular/material/theming';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
$custom-typography: mat-typography-config(
  $font-family: 'Quicksand'
);
@include mat-core($custom-typography);

