/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }

.centering{
    width: 768px !important;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}


.flex-center{
    display: flex;
    justify-content: center;
}

.width-full{
    width: 100%;
}

.flex{
    display: flex;
}

.clickable{
    cursor: pointer;
}

.profile-name{
    font-size: xx-large;
}


.profile-item-box{
    background: #FFFFFF;
    border: 1px solid #6ED940;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 1em;
}

.jflex-column{
    display: flex;
    flex-direction: column;
    
}
.jflex-row{
    display: flex;
    flex-direction: row;
    
}
.headFont{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.background-green{
    background: rgba(204, 237, 190, 0.5);
}
.padding-beauty{
    padding: 30px;
}
.box-outline{
    background: #FFFFFF;
    border: 1px solid #6ED940;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 1em;
}

.text-wellme-color{
    color: #309F00;
}
.text-wellme-red{
    color: #FF0000
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-18{
    font-size: 18px !important;
}
.font-20{
    font-size: 20px !important;
}

.font-24{
    font-size: 24px !important;
    line-height: 24px !important;
}

.font-32{
    font-size: 32px !important;
}
.font-48{
    font-size: 48px;
}

.master-component{
    padding-bottom: 7em;
    padding-top:2em;
}

.text-center{
    text-align: center;
}

.circle{
    stroke: #6ED940 !important;
}
.center-main-axis{
    justify-content: center;   
}
.center-cross-axis{
    align-items: center;
}

.scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px white;
    background-color:  rgba(204, 237, 190, 0.5);;
}

.scroll::-webkit-scrollbar
{
    width: 5px;
    border-radius: 50%;
    background-color: #fff;
}

.scroll::-webkit-scrollbar-thumb
{
    background-color: #6ED940;
    border: 1px solid #fff;
}

.inside-spinner{
    max-width: 100%;
    position: absolute;
    max-height: 100%;
    top: 25px;
    height: 50%;
    left: 37px;
}
.stretch{
    justify-content: space-between;
}
.basic-container {
    display: inline-block;
    position: relative;
}
.font-green{
    color: #6ED940;
}

.pointer{
    cursor: pointer;
}

.button-fill{
    background: #6ED940;
    border-radius: 5px;
    color:white
}

.button-fill-disabled{
    background: rgba(110, 217, 64, 0.5);
    border-radius: 5px;
    color:white
}

.bg-wellme{
    background-color: rgba(204, 237, 190, 0.5);
}
.green-button{
    background: #CCEDBE;
    border: 1px solid #6ED940;
    box-sizing: border-box;
    border-radius: 5px;
    color : #309F00;
}


a:hover, a:focus .project-name {
    color:#6ED940;
    text-decoration: none;
}
.litle-space{
    margin-bottom: 10px;
}

.padding-1em{
    padding:1em;
}

.hover-wellme:hover{
    color:#6ED940;
}
*:focus {
    outline: none;
}
.hidden{
    display:none;
}
.block{
    display: block;
}

simple-snack-bar span {
    margin:auto;
    text-align: center;
}

.mat-spinner-color::ng-deep circle{
    stroke: #6ED940 !important;
}

.container{
    background-color: white !important;
}
