<div class="jflex-column" style="height: 100%;">
    <div class="jflex-row" style="padding-top:20px;">
        <a mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>chevron_left</mat-icon>
        </a>
        <h1 style="flex-basis: 90%; text-align: center;;" class="headFont">Beli Reksadana</h1>
    </div>
    <div class="jflex-column padding-beauty  center-cross-axis "  style="height:90%;"  >
        <h1>Konfirmasi</h1>
        <mat-card class="box-outline litle-space" style="width: 100%;">
            <table style="width: 100%;">
                <thead>
                    <th>Jenis Reksadana</th>
                    <th>Alokasi</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="jflex-column">
                                <h3 class="font-green"><strong>Pasar uang</strong></h3>
                                <p>Nama Reksadana Yang Dibeli</p>
                            </div>
                        </td>
                        <td>
                            <h3 class="font-green"><strong>Rp 1,000,000</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="jflex-column">
                                <h3 class="font-green"><strong>Pasar uang</strong></h3>
                                <p>Nama Reksadana Yang Dibeli</p>
                            </div>
                        </td>
                        <td>
                            <h3 class="font-green"><strong>Rp 1,000,000</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="jflex-column">
                                <h3 class="font-green"><strong>Pasar uang</strong></h3>
                                <p>Nama Reksadana Yang Dibeli</p>
                            </div>
                        </td>
                        <td>
                            <h3 class="font-green"><strong>Rp 1,000,000</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="jflex-column">
                                <h3><strong>Promo</strong></h3>
                                <h2 class="font-green"><strong>CB100RB</strong></h2>
                            </div>
                        </td>
                        <td>
                            <h3 class="font-green"><strong>Rp 1,000,000</strong></h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
        <div>
            <span><strong>Lihat Detail&nbsp;</strong> <a class="font-green" >Informasi Produk</a></span>
        </div>  
        <div>
          <input type="checkbox">&nbsp;  <span><strong>Saya Sudah Baca&nbsp;</strong> <a class="font-green" >Syarat dan Ketentuan</a></span>
        </div>  
    </div>
    
    <div class=" jflex-column padding-beauty center-cross-axis background-green">
            
        <a href="/beli-reksadana" mat-raised-button style="background-color: #6ED940; color: white; width: 80%; ">Beli Reksadana</a>
    </div>
    
</div>